<div class="cart-body">
	<br><br>
	<div class="card bg-secondary border-secondary cart_card">
		<h3 class="text-light">Panier</h3>
	</div>

	<div class="card border-light cart_card_2">

		<% @pics.each do |cart_item| %>

			<h5><%= cart_item.item.title %></h5>
			<div class="card-body cart_card-body">
				<div class="d-flex justify-content-between">
					<p class="card-text text-secondary"><%= cart_item.item.price %> $</p>
					<a type="button" class="btn btn-danger"<%= link_to "X", item_current_order_path(cart_item.id,cart_item.id), method: :delete %></a>
				</div>
			</div>

			<hr>

		<% end %>
		<div class="d-flex justify-content-between">
		<p class="lead">Total: <%= @sub_total %> $</p>
		<% if current_user.cart.current_orders.length > 0 %>
			<%= form_tag charges_path do %>
	      <article>
	        <% if flash[:error].present? %>
	          <div id="error_explanation">
	            <p><%= flash[:error] %></p>
	          </div>
	        <% end %>
	        <label class="amount">
	          <span>Get pussy by paying <%= @sub_total %>€</span>
	        </label>
	      </article>
	      <%= hidden_field_tag 'cart_id', current_user.cart.id %>
	      <%= hidden_field_tag 'price', @sub_total %>
	      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	              data-description="A month's subscription"
	              data-amount="<%=(@sub_total*100).to_s %>"
	              data-locale="auto"></script>
	    <% end %>
	  <% end %>
		</div>
	</div>
</div>
