<div class="index-body">
	<div class="jumbotron jumbotron-index">
		<p class="lead text-light bienvenue-index">Bienvenue sur</p>
		<h1 class="display-3 text-light">Pussy Cat Shop</h1>
		<p class="lead text-light">Trouvez votre bonheur grace à notre incroyable sélection de photo de chatons ;)</p>
	</div>

	<div class="d-flex justify-content-center">
		<h1 class="text-center text-secondary bg-light decouvrez-bg">Découvrez nos photos</h1>
	</div>

	<div class="d-flex justify-content-center row align-content-start index-item-grid">
		<% Item.all.each do |item| %>
			<div class="card mb-3 index-card">
				<h3 class="card-header"><%= item.title %></h3>
				<div class="card-body">
					<h6 class="card-subtitle text-muted"><%= item.price %> $</h6>
				</div>
				<%if item.avatar.attached?%>
  				<%= image_tag item.avatar, alt: 'avatar' %>
				<% else %>
					<img style="height: 200px; width: 100%; display: block;" src="https://wallpaperaccess.com/full/256042.jpg" alt="Card image" class="index-card-img">
				<% end %>
				<div class="card-body">
					<p class="card-text"><%= item.description %></p>
				</div>
				<div class="card-body">
					<a class ="btn btn-secondary"<%= link_to "Détails ", item_path(item.id) %></a>
					<% if current_user %>
						<% unless current_user.cart.items.include? (item) %>
							<a class="btn btn-secondary"<%= link_to "Ajouter au panier ", item_current_orders_path(item.id), method: :create %> </a>
						<% end %>
					<% else %>
							<a class="btn btn-secondary"<%= link_to "Ajouter au panier ", item_current_orders_path(item.id), method: :create %> </a>
					<% end %>
				</div>
				<div class="card-footer text-muted">
					<p class="card-text">ajouté le</p>
				</div>
			</div>
		<% end %>
	</div>
</div>
