<div class="index-body">
  <br>
  <div class="index-card-container">
      <div class="card item-show-card ">
        <h3 class="card-header"><%= link_to @item.title, item_path(@item.id) %></h3>
        <div class="card-body">
          <p class="card-text index-card-text"><%= @item.description %></p>
          <br>
          <h5 class="card-subtitle text-secondary"><%= @item.price %> $</h5>
        </div>
        <div class="card-body">
          <a class="btn btn-secondary"<%= link_to "Ajouter au panier ", item_current_orders_path(@item.id), method: :create %> </a>
        </div>
        <%= form_tag item_avatars_path(@item), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "uploader l'avatar" %>
        <% end %>
        <div class="card-footer text-muted">
          <p class="card-text">ajouté le <%= @item.created_at %></p>
        </div>
         <div class="card-body">

          <%= link_to item_path(@item.id) do %>

              <% if @item.avatar.attached? %>

                <div class="item-show-img-container">
                  <%= image_tag @item.avatar, alt: 'avatar', :class => "index-card-img" %>
                </div>

              <% else %>

                <div class="item-show-img-container">
                  <%= image_tag @item.image_url, :alt => "Cat", :class => "index-card-img" %>
                </div>

              <% end %>

            <% end %>
          </div> 

      </div>
    </div>
    <br><br><br><br><br><br>
</div>

